Package: ${project.artifactId}-${build}
Version: ${versiontimestamp}
Section: base
Priority: optional
Architecture: all
Depends: tc-osgi-bundle-utils-interfaces-${tc-osgi-bundle-utils-interfaces.version}, tc-osgi-bundle-drools-interfaces-${tc-osgi-bundle-drools-interfaces.version}
Maintainer: Collonville Thomas <collonville_tom@yahoo.fr>
Homepage: <http://collonville.thomas.free.fr>
Description: Bundle implementation Drools
